<!DOCTYPE html>
<html>
<head>
    <title>Survey Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Smart Survey Analyzer</h2>

    <form method="POST">
        <textarea name="responses" rows="10" cols="50" placeholder="Enter each response on a new line"></textarea><br><br>
        <button type="submit">Analyze</button>
    </form>

   {% if result %}
        <div class="result-box">
            <h3>Results:</h3>
            <p>Positive: {{ result.positive }} ({{ result.positive_pct }}%)</p>
            <p>Negative: {{ result.negative }} ({{ result.negative_pct }}%)</p>
            <p>Neutral: {{ result.neutral }} ({{ result.neutral_pct }}%)</p>
        </div>
    {% endif %}

    {% if graph_url %}
        <h3>Visualization:</h3>
        <img src="data:image/png;base64,{{ graph_url }}">
    {% endif %}

        
</body>
</html>
